body {
  font-family: 'HK Grotesk', sans-serif;
  width: 100%;
}

main {
  
}

.blue__title {
  text-transform: uppercase;
  color: #003b5c;
}

.white__title {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.gray__title {
  color: #5D534F;
}

.header__first {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #e5dbd1;
}

.header__meteo {
  width: 100%;
  display: flex;
}

.meteo {
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
}

.meteo__image {
  margin: 12px;
}

.meteo > div > h4 {
  margin: 0;
}

.header__about {
  width: 100%;
  display: flex;
}

.about {
  display: flex;
  margin: 0 auto;
}

.about > h4 {
  margin-right: 50px;
}

.header__about > h4 {
  margin: 0;
}

.about__image {
  margin-top: 23px;
  height: 17px;
}

.header__logo {
  height: 17px;
}

.header__second {
  display: flex;
}

.header__second > div {
  display: flex;
  margin: 0 auto;
}

.header__second > div > h4 {
  margin-left: 50px;
  margin-right: 50px;
}


.categorie__section {
  margin-top: 50px;
  margin-bottom: 200px;
}

.categorie__style {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categorie__line {
  width: 100%;
}

.categorie__line > div {
  width: 98%;
  height: 10%;
  border-top: solid 1px #e5dbd1;
  border-bottom: solid 1px #e5dbd1;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  margin: 0 auto;
}

.categorie__title {
  margin: 0 auto;
  height: 40px;
  width: 170px;
  border: 1px solid #e5dbd1;
  box-shadow: 3px 2px #e5dbd1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #003b5c;
}

.sub__categorie {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sub__categorie__all {
  display: flex;
}

.sub__categorie__all .sub__categorie__line {
  width: 12px;
  height: 1px;
  background: #5D534F;
  margin-top: 31px;
  margin-left: 5px;
  margin-right: 5px;
}

.arrow__title {
  text-transform: uppercase;
  color: red;
  width: 150px;
  display: flex;
}

.categorie__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.categorie__grid .categorie__item {
  height: 400px;
  position: relative;
}

.articles__image {
  margin: 0 auto;
  color: #003b5c;
  height: 75%;
  width: 92%;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles__categorie {
  margin-left: 4%;
  display: flex;
}

.articles__categorie .articles__line {
  width: 12px;
  height: 1px;
  background: #5D534F;
  transform: translateY(-50%);
  margin-top: 31px;
  margin-left: 5px;
  margin-right: 5px;
}

.articles__categorie__categorie > h4 {
  color: #5D534F;
}

.articles__title {
  margin-left: 4%;
  width: 90%;
}

.articles__title > h3 {
  color: #003b5c;
  font-family: 'Libre Baskerville', serif;
}

.categorie__item .arrow__title {
  margin-left: 4%;
  width: 75%;
}

.newsletter__section {
  height: 456px;
  width: 100%;
}

.newsletter__title {
  font-family:  'Libre Baskerville', serif;
  color: white;
  font-size: 52px;
  display: flex;
}

.newsletter__title > div {
  margin: auto;
  display: flex;
}

.newsletter__title p:last-of-type {
  font-style: italic;
  margin-left: 10px;
}

.newsletter__desc {
  font-family:  'Libre Baskerville', serif;
  color: white;
  font-size: 31px;
  display: flex;
}

.newsletter__desc > p {
  margin: auto;
  width: 80%;
  text-align: center;
}

.newsletter__button {
  margin: 0 auto;
  margin-top: 50px;
  height: 40px;
  width: 170px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: white;
  border: 1px solid #003b5c;
  box-shadow: 7px 6px #E74832;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #003b5c;
  font-weight: bold;
  transition: 200ms;
}

.newsletter__button:hover {
  background-color: #003b5c;
  color: white;
  border: 1px solid white;
  transition: 300ms;
}

.footer__main {
  background-color: #E74832;
}

.footer__categorie {
  font-family: 'HK Grotesk', sans-serif;
  color: white;
  font-size: 20px;
}

.footer__link {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.footer__newsletter__button {
  margin: 0 auto;
  margin-top: 50px;
  height: 40px;
  width: 170px;
  border: 1px solid white;
  box-shadow: 7px 6px #E74832;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  transition: 200ms;
}


.footer__network__logo {
  display: flex;
  justify-content: space-between;
}

.footer__network__logo > img {
  max-width:100%;
  height:auto
}

.footer__line {
  width: 95%;
  height: 2px;
  border-top: solid 1px #e5dbd1;
  border-bottom: solid 1px #e5dbd1;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  margin: 0 auto;
  margin-bottom: 20px;
}

.legale__notice {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
