body {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'HK Grotesk', sans-serif;
}

.categorie__section {
  margin-top: 50px;
  margin-bottom: 200px;
}

.categorie__style {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categorie__line {
  width: 100%;
}

.categorie__line > div {
  width: 98%;
  height: 10%;
  border-top: solid 1px #e5dbd1;
  border-bottom: solid 1px #e5dbd1;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  margin: 0 auto;
}

.categorie__title {
  margin: 0 auto;
  height: 40px;
  width: 170px;
  border: 1px solid #e5dbd1;
  box-shadow: 3px 2px #e5dbd1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #003b5c;
}

.sub__categorie {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sub__categorie__all {
  display: flex;
}

.sub__categorie__all .sub__categorie__line {
  width: 12px;
  height: 1px;
  background: #5D534F;
  margin-top: 31px;
  margin-left: 5px;
  margin-right: 5px;
}

.arrow__title {
  text-transform: uppercase;
  color: red;
  width: 150px;
}


.categorie__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.categorie__grid .categorie__item {
  height: 400px;
  position: relative;
}

.articles__image {
  margin: 0 auto;
  height: 75%;
  width: 92%;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles__categorie {
  margin-left: 4%;
  display: flex;
}

.articles__categorie__title > h4 {
  text-transform: uppercase;
  color: #003b5c;
}

.articles__categorie .articles__line {
  width: 12px;
  height: 1px;
  background: #5D534F;
  transform: translateY(-50%);
  margin-top: 31px;
  margin-left: 5px;
  margin-right: 5px;
}

.articles__categorie__categorie > h4 {
  color: #5D534F;
}

.articles__title {
  margin-left: 4%;
  width: 75%;
}

.categorie__item .arrow__title {
  margin-left: 4%;
  width: 75%;
}

.articles__title > h2 {
  color: #003b5c;
  font-family: 'Libre Baskerville', serif;
}